@model Capluga.Entities.UsuarioEnt

@{
    ViewBag.Title = "ActualizarUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ageValue = Model?.Age != null ? Model.Age.ToString("yyyy-MM-dd") : "";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="container">

                @if (ViewBag.MensajeUsuario != null)
                {
                    <div class="alert alert-danger" role="alert" style="text-align:center">
                        @ViewBag.MensajeUsuario
                    </div>
                }

                <h2>Actualizar Perfil</h2>

                @using (Html.BeginForm("ActualizarUsuario", "Usuario", FormMethod.Post, new { @class = "pt-3" }))
                {
                    @Html.HiddenFor(m => m.UserID)

                    <div class="form-group">
                        <label>Nombre</label>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-lg", @placeholder = "Nombre", @type = "text" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        @Html.TextBoxFor(m => m.Surnames, new { @class = "form-control form-control-lg", @placeholder = "Apellidos", @type = "text" })
                        @Html.ValidationMessageFor(m => m.Surnames, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Correo Electrónico</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", @placeholder = "Correo Electrónico", @type = "email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Contrasenna</label>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-lg", @placeholder = "Contrasenna", @type = "password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Fecha de nacimiento</label>
                        @Html.TextBoxFor(m => m.Age, new { @class = "form-control form-control-lg", @type = "date", @Value = ageValue })

                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-control-lg", @placeholder = "Telefono", @type = "text" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Rol de Usuario</label>
                        @Html.TextBoxFor(m => m.RoleID, new { @class = "form-control form-control-lg", @placeholder = "Rol", @type = "text" })

                    </div>
                    <div class="form-group">
                        <label>Provincia</label>
                        @Html.DropDownListFor(m => m.Ubicacion.State, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
                       "Seleccione una Provincia", new { @class = "form-control form-control-lg", id = "provincia-dropdown" })
                        @Html.ValidationMessageFor(m => m.Ubicacion.State, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Caton</label>
                        @Html.DropDownListFor(m => m.Ubicacion.City, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
                       "Seleccione un Canton", new { @class = "form-control form-control-lg", id = "canton-dropdown" })
                        @Html.ValidationMessageFor(m => m.Ubicacion.City, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Distrito</label>
                        @Html.DropDownListFor(m => m.Ubicacion.District, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
                       "Seleccione un Distrito", new { @class = "form-control form-control-lg", id = "distrito-dropdown" })
                        @Html.ValidationMessageFor(m => m.Ubicacion.District, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Codigo Postal</label>
                        @Html.TextBoxFor(m => m.Ubicacion.ZipCode, new { @class = "form-control form-control-lg", @placeholder = "12345", @type = "text", @maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.Ubicacion.ZipCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Direccion exacta</label>
                        @Html.TextBoxFor(m => m.Ubicacion.Street, new { @class = "form-control form-control-lg", @placeholder = "Direccion exacta", @type = "text", @maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.Ubicacion.Street, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" class="btn btn-primary" onclick="confirmUpdate()">
                                Actualizar
                            </button>

                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

