@model IEnumerable<Capluga.Entities.CursoEnt>

@{
    ViewBag.Title = "Cursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Información de los cursos</h4>

                <div style="text-align:right">
                    <a class="btn btn-primary" href="@Url.Action("RegistrarCursos","MedicalCourses")">Agregar</a>
                </div>
                <br>

                @if (Model.Count() > 0)
                {

                    <table id="tableShow" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Vista Previa</th>
                                <th>Cambiar Estado</th>
                                <th>Actualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Price.ToString("C", new System.Globalization.CultureInfo("es-CR"))</td>

                                    @if (item.State)
                                    {
                                        <td>Activo</td>
                                    }
                                    else
                                    {
                                        <td>Inactivo</td>
                                    }
                                    <td style="text-align:center"><img src="@item.Image" style="width:125px; height:125px; border-radius:0px;"></td>

                                    <td style="text-align:center">
                                        <a href="@Url.Action("ActualizarEstadoCurso", "MedicalCourses", new { q = item.MedicalCourseID })"><i class="fa fa-refresh fa-lg"></i></a>
                                    </td>

                                    <td style="text-align:center">
                                        <a href="@Url.Action("ActualizarCurso", "MedicalCourses", new { q = item.MedicalCourseID })"><i class="fa fa-edit fa-lg"></i></a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                }
                else
                {
                    <div class="col-12 alert alert-info" role="alert" style="text-align: center; margin-top: 5%;">
                        No hay productos registrados en este momento
                    </div>
                }

            </div>
        </div>
    </div>
</main>