@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Capluga.Entities.ProductoEnt>

@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Filtros -->
<div class="container">
    <div class="row mt-3 flex-column align-items-center col-3">
        <input type="text" id="buscar" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="button-addon2">
    </div>

    <div class="row mt-3">
        <div class="col-2">
            <label for="rangoPrecio">Rango de Precio:</label>
            <input type="number" id="precioMin" class="form-control" placeholder="Mínimo">
            <input type="number" id="precioMax" class="form-control mt-1" placeholder="Máximo">
        </div>
        <div class="col-3">
            <label for="ordenFiltro">Ordenar por:</label>
            <select id="ordenFiltro" class="form-control">
                <option value="none">Seleccionar</option>
                <option value="precioAsc">Precio: Menor a Mayor</option>
                <option value="precioDesc">Precio: Mayor a Menor</option>
                <option value="nombreAsc">Nombre: A a Z</option>
                <option value="nombreDesc">Nombre: Z a A</option>
            </select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary mt-4" style="background-color: #1A237E; color: white;" onclick="aplicarFiltros()">Aplicar Filtros</button>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row mt-12 justify-content-start" id="FiltroContainer">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4 align-items-stretch filtro-card" data-precio="@item.Price" data-nombre="@item.Name">
                    <div class="card text-center w-100">
                        <div class="card-body">
                            <a href="@Url.Action("DetallesProducto", "Producto", new { id = item.MedicalImplementsID })">
                                <img src="@item.Image" width="150" height="150">
                            </a>
                            <br /><br />
                            <h4 class="card-title">
                                <a href="@Url.Action("DetallesProducto", "Producto", new { id = item.MedicalImplementsID })">@item.Name</a>
                            </h4>
                            @*<p class="card-text">@item.Description</p>*@
                            <p class="card-text">Unidades: @item.Quantity - @item.Price.ToString("C", new System.Globalization.CultureInfo("es-CR"))</p>
                            @if (Session["UserID"] != null)
                            {
                                <div class="row">
                                    <div class="col-3"></div>
                                    <div class="col-4" style="text-align:right!important">
                                        <input id="prd-@item.MedicalImplementsID" type="number" class="form-control">
                                    </div>
                                    <div class="col-4" style="text-align:left">
                                        <a onclick="AgrearCarrito(@item.MedicalImplementsID, @item.Quantity)" class="btn btn-outline-primary"><i class="fa fa-cart-plus"></i></a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12 alert alert-info" role="alert" style="text-align: center; margin-top: 5%;">
                No hay productos registrados en este momento
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        @Html.PagedListPager(Model, page => Url.Action("VistaProducto", new { page }), new PagedListRenderOptions
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
            DisplayLinkToLastPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            DisplayItemSliceAndTotal = false,
            DisplayPageCountAndCurrentLocation = false,
            MaximumPageNumbersToDisplay = 5,
            UlElementClasses = new[] { "pagination" }, // Clase aplicada al <ul> de la paginación
            ClassToApplyToFirstListItemInPager = "page-item", // Clases generales para los <li>
            ClassToApplyToLastListItemInPager = "page-item"
        })
    </div>
</div>

<style>
    .pagination {
        display: flex;
        justify-content: center;
        padding-left: 0;
        list-style: none;
        border-radius: 0.25rem;
    }

        .pagination li {
            display: inline;
        }

            .pagination li a, .pagination li span {
                color: #343a40;
                padding: 0.5rem 0.75rem;
                margin-left: -1px;
                line-height: 1.25;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #dee2e6;
            }

                .pagination li a:hover {
                    background-color: #e9ecef;
                    color: #007bff;
                }

            .pagination li.active span {
                color: #fff;
                background-color: #007bff;
                border-color: #007bff;
            }

            .pagination li.disabled span {
                color: #6c757d;
                pointer-events: none;
                background-color: #fff;
                border-color: #dee2e6;
            }

            .pagination li:first-child a, .pagination li:first-child span {
                margin-left: 0;
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
            }

            .pagination li:last-child a, .pagination li:last-child span {
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
</style>